<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/styles/main.css" >
    <script src="/public/js/main.js"></script>
    <title>What's Your Favorite Animal?</title>
</head>
<body>
  <h1>What's Your Favorite Animal?</h1>
  <p>Click on your favorite animal and we'll tell you popular is it!</p>
  <section id = "animals">
    <div id = "First__line__animal">
      <div>
          <input type="image" class = "animals" alt="Cat" value="animal_1"
     src="https://images.unsplash.com/photo-1548802673-380ab8ebc7b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
     <p class = "animal__name">Cat</p> </div>

      <div>
          <input type="image" class = "animals" alt="dog" value="animal_2"
     src="https://images.unsplash.com/photo-1548802673-380ab8ebc7b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"">
     <p class = "animal__name">Cat</p></div>
    </div>

    <div id = "Second__line__animal">

      <div>
          <input type="image" class = "animals" alt="horse" value="animal_3"
          src="https://images.unsplash.com/photo-1548802673-380ab8ebc7b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"">
          <p class = "animal__name">Cat</p> </div>
      <div >
          <input type="image" class = "animals" alt="animal4" value="animal_4"
          src="https://images.unsplash.com/photo-1548802673-380ab8ebc7b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"">
          <p class = "animal__name">Cat</p></div>
    </div>

  </section>

  

  <hr />


    <section>
    <h2>How many votes has your favortite?</h2>

    <section id = "show__total">

    <section id = "show__graph">
        <div id = "graph">

        </div>
    </section>


<section id = "show__info">
    <h3 id = "title__total"> Total of Votes </h3>

    <section id = "info">

        <div id = First__line__info>
            <ul>
                <li class = info__style__1>Cats#</li>
                <li id = catNum value="1"></li>
                <li>Cats</li>
        </ul>

            <ul >
                <li class = info__style__1>Dogs#</li>
                <li>Dogs</li>
                <li id = dogNum value="1"></li>
                
            </ul>
        </div>

        <div id = Second__line__info>
            <ul>
                <li class = info__style__1>Horses#</li>
                <li>Horses</li>
                <li id = horseNum value="1"></li>
            </ul>

            <ul>
                <li class = info__style__1>Turtle#</li>
                <li>Turtle</li>
                <li id = animal4Num value="1"></li>
            </ul>
        </div>

        </section>

    </section>

</section>
</section>
<section>

  <div id = line >
      <hr />
  </div> 
  <footer>
      <p>Images from <a href="https://unsplash.com/">Unsplash</a></p>
  </footer>
</section>
</body>
</html>