<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/styles/main.css" >
    <script src="/public/js/main.js"></script>
    <title>What's Your Favorite Animal?</title>
</head>
<body>
  <h1>What's Your Favorite Animal?</h1>
  <p>Click on your favorite animal and we'll tell you popular is it!</p>
  <section id = "animals">
      <div >
          <input type="image" id="cat" alt="Cat" value="animal_1"
     src="https://images.unsplash.com/photo-1548802673-380ab8ebc7b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
      </div>

      <div >
          <input type="image" id="dog" alt="dog" value="animal_2"
     src="https://images.unsplash.com/photo-1529472119196-cb724127a98e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=642&q=80">
      </div>

      <div >
          <input type="image" id="horse" alt="horse" value="animal_3"
     src="https://images.unsplash.com/photo-1496248594191-5ac06efa597a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80">
      </div>
      <div >
          <input type="image" id="animal4" alt="animal4" value="animal_4"
     src="https://images.unsplash.com/photo-1557680636-ef991b35da56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=581&q=80">
      </div>


  </section>

  

  <hr />


    <section>
    <h2>How many votes has your favortite?</h2>

    <section id = "show__total">

    <section id = "show__graph">
        <div id = "graph">

        </div>
    </section>


<section id = "show__info">
    <h3 id = "title__total"> Total of Votes </h3>

    <section id = "info">

        <div id = cat__info>
            <!-- <article> -->
                <p>Cats</p>
                <p id = catNum value="1"></p>
                <p>CatsNum</p>
            <!-- </article> -->
        </div>

        <div id = dog__info>
            <ul>
                <li class = info__style__1>Dogs</li>
                <li id = dogNum value="1"></li>
                <li>puf</li>
            </ul>
        </div>

        <div id = horse__info>
            <ul>
                <li>Horses</li>
                <li id = horseNum value="1"></li>
            </ul>
        </div>

        <div id = animal4__info>
            <ul>
                <li>Turtle</li>
                <li id = animal4Num value="1"></li>
            </ul>
        </div>

        </section>

    </section>

</section>
</section>

  <div id = line >
      <hr />
  </div> 
  <footer>
      <p>Images from <a href="https://unsplash.com/">Unsplash</a></p>
  </footer>
</body>
</html>