@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

      * {
        padding: 0 0 0 0;
        margin: 0;
        box-sizing: border-box;
      }
      html {
        font-size: 16px;
      }
      body {
        font-family: 'Open Sans', sans-serif;
        background-color: rgb(206, 203, 202);
        text-align: center;

      }

      h1{
        font-size:4rem;
        padding: 3rem;

      }


      h2{
        font-size:2rem;
        padding: 3rem;
      }

      p{
        font-size:1.5rem;
        padding-bottom: 4rem;  
      }
      @media screen and (max-width: 1000px) {
        p {
          font-size:1rem;
        }
      }


      #animals {

        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0rem 0rem 0rem 0rem;
        height: 80vh;
        width: auto;
      }

      @media screen and (max-width: 1000px) {
        #animals {
            flex-direction: column;
            height: auto;
            width: 100%;
        }
      }

      #First__line__animal{
        display: flex;
        flex-direction: row;
        position: relative; 
        width: 50%;
        background-color: rgb(187, 255, 0);
        justify-content: center;
      }

      @media screen and (max-width: 1000px) {
        #First__line__animal  {
        width: 100%;
        padding: 0px;
        height: auto;
      }
    }

      #Second__line__animal{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        width: 50%;
        margin: 0rem;
        background-color: rgb(42, 44, 165);

      }
      @media screen and (max-width: 1000px) {
        #Second__line__animal  {
        padding: 0px;
        height: auto;
        /* flex-direction: column; */
        width: 100%;
      }
    }

      .animals {
        font-size:2rem;
        width: 80%;
        height: auto;
        position: relative;
        margin: 5%;
    }

    .animals:hover {
      width: 85%;
    }
    @media screen and (max-width: 700px) {
        .animals  {
        padding: 0px;
        height: auto;
        margin-bottom: 5rem;
      }
      .animals:hover {
        height:auto; 
      }
    }

    .animal__name {
      font-size: 2rem;
      font-weight: 600;
    }

     
    #show__total {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0rem 0rem 0rem 0rem;
      height: 60vh;
      width: 100%;
      background-color: rgb(223, 100, 196);

    }

    @media screen and (max-width: 1200px) {
      #show__total {
        flex-direction: column;
        height: auto;
        width: 100%;
      }
    }

    #show__graph {
      position: relative;
      /* height:25vh ; */
      width: 40%; 
      background-color: rgb(91, 26, 134);
      height: 53vh;
      /* margin-bottom: rem; */
    }

    @media screen and (max-width: 1200px) {
      #show__graph{
        flex-direction: column;
        height: 70vh;
        width: 100%;
      }
    }

    #show__info {
      position: relative;
      width: 60%;
    }
    @media screen and (max-width: 1200px) {
      #show__info{
        flex-direction: column;
        height: auto;
        width: 100%;
      }
    }

    #title__total {
      position: relative;
      width: 100%;
      margin: 0rem;
      margin-top: 2rem;
      font-size: 1.5rem;
    }

    #info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0rem 0rem 0rem 0rem;
        height: 50vh;
        width: 100%;
        background-color: rgb(81, 187, 39);
        margin-top: 3rem;
      }

      @media screen and (max-width: 1000px) {
        #info {
            flex-direction: column;
            height: auto;
        }
      }

      #First__line__info{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        width: 50%;
        margin: 0rem;
        background-color: brown;

      }

      @media screen and (max-width: 1000px) {
        #First__line__info {
            height: auto;
            width: 100%;
        }
      }
      #Second__line__info{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        width: 50%;
        margin: 0rem;

      }
      @media screen and (max-width: 1000px) {
        #Second__line__info {
            height: auto;
            width: 100%;
        }
      }

    ul {
        list-style-type: none;
        width: 50%;
        margin-top: 2rem;
        margin-bottom: 12rem;
        margin-left: 5%;
        margin-right: 3%;
        justify-content: center;
        text-align: center;
        background-color: blue;
        border-radius: 25px;
        box-shadow: 5px 5px 3px rgb(139, 139, 139);
        height: 250px;
        }

        li {
          font-size: 1.5rem;
          list-style-type: none;
          color: aliceblue;
          padding-top: 0rem;
          
          }

          .info__style__1 {
            margin-top: 5rem;
            margin-bottom: 4rem;
            font-size:2rem;
          }
  
          #line {
              /* padding-top: 20rem; */
              margin-top: 10rem;
          }